* {
    box-sizing: border-box;
    background-color: burlywood;
}
body{
    margin: 0;
}
.nav{
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}
.nav ul{
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    display:flex;
    gap: 1rem;
}
.nav a{
    color: inherit;
}
.site-title{
    text-decoration: none;
}
.about{
    text-decoration: none;
}
.recipes{
    text-decoration: none;
}
.reviews{
    text-decoration: none;
}